<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gilin.Mappers.LoginMapper">
	<select id="getMemberInfo" parameterType="hashMap" resultType="MemberVo">
		select * 
		from web.member
		where id = #{id}
		and nickname != '탈퇴회원'
	</select>
	
	<insert id="insertMember" parameterType="hashMap">
		insert into web."member" (
			id
			, nickname
			, profile_pic 
			, age 
			, gender 
			, email 
			, cret_dt 
			, cret_id 
			, lateass_dt
		)values(
			#{id}
			, #{nickname}
			, #{profilePic} 
			, #{age}
			, #{gender} 
			, #{email} 
			, NOW()
			, #{id}
			, NOW()
		)
		ON CONFLICT (id) DO UPDATE SET 
			nickname = #{nickname}
			, profile_pic = #{profilePic} 
			, age = #{age}
			, gender = #{gender} 
			, email = #{email} 
			, updt_dt = NOW()
			, updt_id = #{id}
			, lateass_dt = NOW()
	</insert>
	
	<update id="updateLoginTime" parameterType = "MemberVo">
		update web.member set
		lateass_dt = now()
		where id = #{id}
	</update>
	
	<update id="deleteMember" parameterType = "MemberVo">
		update web.member set
			nickname = '탈퇴회원'
			, profile_pic = 'https://gilin.co.kr/img/basedprofile/icon_my_avatar.png'
			, age = '-'
			, gender = '-' 
			, email = '-' 
			, updt_dt = NOW()
			, updt_id = #{id}
		where id = #{id}
	</update>
	
</mapper>