<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gilin.Mappers.MemberMapper">

	<update id="updateNickname" parameterType="hashMap">
		update web."member" set
			<if test="nickname != null and nickname != ''">
				nickname = #{nickname}
			</if>
			
			<if test="profilePic != null and profilePic != ''">
				profile_pic = #{profilePic}
			</if>
		where id = #{memberId}
	</update>

</mapper>